html {
  font-family: Verdana;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

$chrome__bug: 2cm;
$a4__width: 29.7cm;
$a4__height: 21cm;
$padding: .5cm;

.section {
  flex: 1 1 auto;

  + .section {
    border-left: solid 1px #bbb;
    margin-left: 1em;
    padding-left: 1em;
  }
}

.section-header {
  // display: flex;
  // justify-content: space-around;
  text-align: center;
  margin: 0 0 1em;
  width: 100%;
  font-size: 10px;
}

.paper {
  display: flex;
  background: #fff;
  margin: .5cm auto;
  box-shadow: 0 0 .5cm rgba(0, 0, 0, .5);
  width: $a4__width + $padding + $chrome__bug;
  height: $a4__height + $padding;
  box-sizing: border-box;
  padding: $padding;
  position: relative;

  @media print {
    padding: 0;
    width: $a4__width;
    height: $a4__height;
  }
}

table,
tr,
td {
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  padding: 2px 3px;
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(2n + 1) {
  background-color: #f0f0f0;
}
